# Copyright (c) 2020 Keith Wade
# SPDX-License-Identifier: MIT

config SHIELD_KEABOARD_LEFT
	def_bool $(shields_list_contains,keaboard_left)

config SHIELD_KEABOARD_RIGHT
	def_bool $(shields_list_contains,keaboard_right)
